RewriteEngine On
RewriteBase /

# Direciona tudo que não seja um arquivo/diretório real para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
